.instant {
    width: 95%;
    background-color: #121318;
    border-radius: 20px;
    padding: 32px 114px;
    margin-top: 50px !important;
}

.instant .title {
    margin-top: 70px;
}

.instant .title h1 {
    font-size: 50px;
    font-weight: 700;
}

.instant .left p {
    margin-top: 22px;
    color: white;
    width: 80%;
    margin-bottom: 40px;
}

.instant .left a {
    width: 210px;
    background: #5367FF;
    height: 60px;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    opacity: .9;
    margin-bottom: 40px;
}

.instant .left a:hover {
    opacity: 1;
}

.instant .left .logo-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.instant .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant .right img {
    width: -webkit-fill-available;
    max-width: 400px;
}

/* light mode */

.light_home .instant {
    background-color: #F4F9FC;
}

.light_home .instant .title h1{
    color: #2B3144;
}

.light_home .instant .left p {
    color: #545766;
}

@media (max-width: 800px) {
    .instant {
        padding: 32px 20px;
    }
}

@media (max-width: 450px) {
    .instant {
        flex-direction: column;
    }

    .instant .left {
        width: 100%;
        margin-top: 300px;
    }

    .instant .right {
        display: flex;
        justify-content: center;
        width: 80%;
        position: absolute;
    }

    .instant .left p {
        width: 100%;
    }

    .instant .left a {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .instant .title h1 {
        font-size: 40px;
    }

    .instant .left {
        margin-top: 250px;
    }
}

@media (max-width: 360px) {
    .instant .title h1 {
        font-size: 35px;
    }

    .instant .left {
        margin-top: 220px;
    }
}