.instant {
    width: 95%;
    background-color: #121318;
    border-radius: 20px;
    padding: 32px 114px;
    margin-top: 50px !important;
}

.instant .title {
    margin-top: 70px;
}

.instant .title h1 {
    font-size: 50px;
    font-weight: 700;
}

.instant .left p {
    margin-top: 22px;
    color: white;
    width: 80%;
    margin-bottom: 40px;
}

.instant .left a {
    width: 210px;
    background: #5367FF;
    height: 60px;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    opacity: .9;
    margin-bottom: 40px;
}

.instant .left a:hover {
    opacity: 1;
}

.instant .left .logo-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instant .left .logo-wrap img {
    height: 40px;
    margin-bottom: 20px;
}

.instant .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instant .right img {
    width: -webkit-fill-available;
    max-width: 400px;
}